@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.idol-form-popup-container{
  min-height: 100vh;
  background-color:whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.idol-form-popup-box{
  min-width: 50%;
  width: 1000px;
  max-width: 1000px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

font-family: poppins;
}
.idol-form-content-box{
  display: flex;
  align-items: center;
}
.idol-form-img{
  height: 250px;
  width: 250px;
}
.idol-form-content-innerbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.idol-form-content-list-div{
 display: flex;
 align-items: center;
}
@media only screen and (max-width: 768px) {
  .idol-form-content-box{
    flex-direction: column;
    justify-content: center;
  }
.idol-form-img{
  height: 250px;
  max-width: 80%;
  margin-bottom: 5%;
}
}
@media print{
 *{
  font-size: small;
 }
  .idol-form-popup-box{
    margin: 0 !important;
    padding: 0px !important;
    width: 100% !important;
    background-color: white !important;
    height: 100% !important;
border: none !important;
box-shadow: none !important;
  }
  .idol-form-content-list-div{
    margin: 0 !important;
    padding: 0 !important;
  }
  .idol-form-content-innerbox {
   margin-top: 0 !important;
   margin-bottom: 0 !important;
    padding:  0 !important;
  }
  
.idol-form-img{
  height: 150px;
  width: 150px;
}
.idol-form-content-table,.idol-form-content-table table{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.view-form-btn{
  display: none;
}
}